[flake8]
max-line-length = 100
extend-ignore =
    # Compatibilité avec Black
    E203,
    E501,
    W503
exclude =
    .venv,
    .git,
    .github,
    mlruns,
    __pycache__,
    build,
    dist,
    *.ipynb_checkpoints
per-file-ignores =
    __init__.py:F401
